#LogoOCP {
  height: 100px;
}

#title {
  /* background-color: black; */
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  color: #f7f7ee;
  font-size: 3em;
  font-family: Merriweather;
}

#header {
  height: 100px;
  background-color: #7bc76c;
}

#semaineInput {
  border: none;
  border-radius: 5px;
  line-height: 30px;
  background-color: gainsboro;
  margin-right: 10px;
}

.semaineBtn {
  text-align: center;
  height: 40px;
  width: 50px;
  line-height: 20px;
  margin-bottom: 7px;
}

#semaineForm {
  display: inline-block;
}

#myTable {
  /* margin-top: 20px; */
  width: 100%;
}

#myTableBody td {
  border: 1px solid rgb(201, 199, 199);
  font-size: 17px;
  font-family: Merriweather;
  text-align: center;
  vertical-align: middle;
  padding: 10px 5px;
}

#modifyPencil{
  color: black;
  font-size: 20px;
  display: inline-block;
  position: relative;
  bottom:30px ;
  left: 5px;
  font-weight: 500;
}

#tableHead td{
  border: 1px solid rgb(201, 199, 199);
  font-size: 17px;
  font-weight: bold;
  font-family: Merriweather;
  text-align: center;
  vertical-align: middle;
  border-top: none;
}


#addOrModifyRow,
#validateOrCancelRow,
.tableRow {
  text-align: center;
}

#modify img{
  height: 30px;
  margin: auto auto 7px auto;
}

#modifyButton{
  margin: 5px auto 20px 30px;
  opacity: 0.6;
}


#modifyButton:hover{
  opacity: 1;
}

#addButton,
#validateButton,
#cancelButton,
#modifyButton {
  color: rgb(54, 143, 54);
  text-align: center;
  border: none;
  border-radius: 100%;
  background-color: ghostwhite;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  line-height: 38px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  margin-bottom: 20px;
}

#addButton {
  transform: rotate(90deg);
  transition: transform 700ms;
}


#cancelButton,
#validateButton {
  margin: 10px;
}

#plus {
  font-size: 50px;
}

#modify {
  color: black;
  font-size: 30px;
}

#validate {
  font-size: 40px;
  line-height: 46px;
}

#cancel {
  font-size: 40px;
  line-height: 42px;
}

#addButton:hover {
  transform: rotate(-90deg);
  transition: transform 700ms;
}

#cancelButton {
  color: red;
  background-color: ghostwhite;
}

#cancelButton:hover {
  color: white;
  background-color: red;
}

#validateButton:hover {
  color: white;
  background-color: green;
}

#myTable input {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1% 1%;
}
#myTableBody .input-row td{
  border: none; 
}

#myTableBody .input-row td input{
  border: 1px solid rgb(56, 102, 189); 
  height: 40px;
  border-radius: 20px;
}


.Code-Service-Demandeur{
  font-weight: 900;
}

.semaineClicked{
  background-color: yellow;
}

.semaineUnclicked{
    background-color: none;
}

.semaineProchaine{
  border: none;
  background-color: #f9ff21;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.serviceMG{
  border: none;
  background-color: orange;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  height: 55px;
  font-size: 19px;
}

.serviceMGClicked{
  background-color: orange;
}

.serviceMGClicked{
  background-color: none;
}

.disabled{
  pointer-events: none;
  background-color: lightgray;
}

.DI {
  width: 6%;
}

.Date-de-fin-des-travaux,
.Date-de-lancement-DI,
.Date-de-lancement-OT {
  width: 7%;
}
.Code-Service-Demandeur {
  width: 5%;
}
.OT {
  width: 7%;
}
.Description-de-travail {
  width: 20%;
}
.Nature-de-travail,
.Statut-de-travail {
  width: 5%;
}
.Sections-intervenantes {
  width: 10%;
}
